html,
body {
  margin: 0;
  padding: 0;
}

/* HEADER */

/* MAIN */


/* .container {
  display: flex;
}

.item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
  text-decoration: none;
  color: black;
  border-radius: 2%;
}

.container:focus-within .item,
.container:hover .item {
  transform: translateX(-25%);
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateX(25%);
}

.container .item:focus,
.container .item:hover {
  transform: scale(1.5);
  z-index: 1;
}

body {
overflow: hidden;
}

.item img {
display: block;
max-width: 100%;
}

.type {
  color: gray;
  font-size: 12px;
  margin: 0;
}

.name {
  margin: 0;
}

.price {
  margin: 0;
} */